<div class="container-fluid">
  <div class="title">
    <h1 class="title-header">Hi,
      <p id="username" class="titlename">{{currentUser}}.</p>
    </h1>
    <button class="logout-btn pull-right" routerLink="/Home">Logout</button>
  </div>

  <hr>
  <h3 class="title-subheader"> Your Staff and Student  Information :</h3>

  <button type="button" class="staff-btn" routerLink="/staff/staffchild">Staff List</button>

  <button type="button" class="student-btn" routerLink="/staff/staffcrud">Student List</button>
</div>