<div class="container-fluid">
  <div class="title">
      <h1 class="title-header">Hi, <p id="username" class="titlename">{{currentUser}}.</p></h1>
      <button class="logout-btn pull-right" routerLink = "/Home">Logout</button>
  </div>
    
    <hr>
    <h3 class="title-subheader"> Your Staff Information :</h3>
  



   <div class="col-sm-12 col-xs-12  table_class">
    <div class="bs-component scroll-value" >
      <table class="table history_table">
        <thead>
          <tr class="history_table_tr">
            <!-- <th class="col-lg-1 col-xs-1">ID</th> -->
            <th class="col-xs-2">NAME</th>
            <th class="col-xs-3">EMAIL ID</th>
            <th class="col-xs-3">MOBILE NUMBER</th>
            <th class="col-xs-3">DESIGNATION</th>
           </tr>
        </thead>


        
         <tbody>

          <tr *ngFor="let data of this.data">
            <app-student-child  [data]="data"></app-student-child> 
              <!-- <ng-container *ngIf = "this.data.userType == 'staff'">
                <td class="history_table_tr_td col-xs-1" >{{data.id}}</td>
                <td id="username" class="history_table_tr_td col-xs-2 " >{{data.userName}}</td>                                        
                <td class="history_table_tr_td col-xs-3">{{data.email}}</td>
                <td class="history_table_tr_td col-xs-3">{{data.phoneno}}</td>
                <td class="history_table_tr_td col-xs-3">{{data.designation}}</td>
              </ng-container>  -->

          </tr>
         
        </tbody> 
      
      </table> 
    </div>
    </div> 


    
  </div>
