/* You can add global styles to this file, and also import other style files */
.title{
    margin-top: 10px!important;
    font-family: initial; 
    color: #000000;
    font-weight: 500; 
    outline: none; 
}

body, html {
    height: 100%;
    background-color: antiquewhite;
	overflow : hidden;
  }
